html { 
    font-family: Arial; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center; 
}
 body { 
     background-color: rgb(239, 241, 243); 
    } 
    .topnav { 
        overflow: hidden; 
        background-color: #333; 
    } 
    .topnav a { 
        float: left; 
        color: #f3d4d4; 
        text-align: center; 
        padding: 14px 16px; 
        text-decoration: none; 
        font-size: 17px; 
    } 
    .topnav a:hover { 
        background-color: rgb(240, 128, 128); 
        color: black;
     } 
     .topnav a.active {
          background-color: #cf6262; 
          color: rgb(19, 18, 18);
         }
          h1 { 
              color: rgba(238, 101, 10, 0.507); 
            } 
            p{ 
                text-align: left; 
            } h2 { 
                color: rgb(248, 41, 41) 
            } 
            a { 
                color: rgb(219, 29, 29) 
            }